<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Management</title>
    <!--    Ten thu muc/ ten file html :: ten fragment-->
    <!--    head-css-->
    <th:block th:replace="layout/head :: head-1"/>
    <!--    head-css-->

</head>
<body>
<!-- Begin page -->
<div id="wrapper">
    <!--    header-->
    <th:block th:replace="layout/header"/>
    <!--    header-->

    <!--    left-side-->
    <th:block th:replace="layout/left"/>
    <!--    left-side-->


    <div class="content-page">
        <div class="content">
            <!--    page content-->
            <div class="container-fluid">
                <!-- start page title -->
                <h1 class="text-center">List Product</h1>
                <!-- end page title -->

                <!--                Start row-->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body table-responsive">
                                <div class="d-flex justify-content-between align-self-center">
                                    <div>
                                        <button class="btn btn-primary m-3" id="btnShowCreateModal">
                                            <i class="fas fa-plus"></i> New Product
                                        </button>
                                    </div>
                                    <div class="m-3" style="height: 30px">
                                        <form  method="get">
                                            <div class="container-search mt-1 d-flex">
                                                <input type="text" name="keySearch" width="270px">
                                                <button type="button" class="btn btn-primary ml-(-65px)" id="searchbtn">
                                                    <i class="fas fa-search"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>


                                <div id="datatable-buttons_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table class="table table-striped table-hover" id="tbProduct">

                                                <thead>
                                                <tr role="row">
                                                    <th>ID</th>
                                                    <th>Hình ảnh</th>
                                                    <th>Tên sản phẩm</th>
                                                    <th>Giá</th>
                                                    <th>Mô tả</th>
                                                    <th>Danh mục</th>
                                                    <th style="width: 80px;">Action</th>
                                                </tr>
                                                </thead>

                                                <tbody>



                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--                End row-->

            </div>
            <!--    page content-->
        </div>
    </div>

    <!--    footer-->
    <th:block th:replace="layout/footer"/>
    <!--    footer-->

    <!--    footer-javaScript-->
    <th:block th:replace="layout/footer-js"/>
    <!--    footer-javaScript-->
</div>

<th:block th:replace="admin/product/modalCreateProduct"/>
<th:block th:replace="admin/product/modalUpdateProduct"/>



<script src="/assets/js/jquery-3.6.0.min.js"></script>
<script src="/assets/sweetalert2/v11.7.12/sweetalert2.all.min.js"></script>
<script src="/assets/js/jquery.validate.min.js"></script>
<script src="/assets/js/jquery.number.js"></script>
<script src="/assets/js/app.js"></script>
<script>
    const page = {
        url: {},
        elements: {},
        loadData: {},
        commands: {},
        dialogs: {
            elements: {},
            commands: {}
        },
        initializeControlEvent: {}
    }
</script>
<script src="/assets/js/nhat.js"></script>

</body>
</html>