<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/assets/image/billiard.png">

    <title>Admin Dashboard</title>
    <!--    Ten thu muc/ ten file html :: ten fragment-->
    <!--    head-css-->
    <th:block th:replace="layout/head :: head-1"/>
    <!--    head-css-->

</head>
<body>
<!-- Begin page -->
<div id="wrapper">
    <!--    header-->
    <th:block th:replace="layout/header"/>
    <!--    header-->

    <!--    left-side-->
    <th:block th:replace="layout/left"/>
    <!--    left-side-->


    <div class="content-page">
        <div class="content">
            <!--    page content-->
            <div class="container-fluid">
                <!-- start page title -->
                <h1 class="text-center">List Order</h1>

                <!-- end page title -->

                <!--                Start row-->
                <div class="row" id="page-content">

                    <div class="col-12">
                        <div class="card">
                            <div class="card-body table-responsive">
                                <div class="d-flex justify-content-between align-self-center">
                                    <div>
                                    </div>
                                    <div class="m-3" style="height: 30px">
                                        <form method="get" id="formSearch">
                                            <div class="container-search d-flex">
                                                <div class="d-flex "
                                                     style="border: 1px solid lightgrey; border-radius: 5px">
                                                    <input type="text" id="keySearch" name="keySearch"
                                                           style="border: none" width="300px" class="form-control">
                                                    <button type="button" class="btn btn-outline-success"
                                                            style="border: none" id="searchbtn">
                                                        <i class="fas fa-search"></i></button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>


                                <div id="datatable-buttons_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table class="table table-striped table-hover">

                                                <thead>
                                                <tr role="row">
                                                    <th>ID</th>
                                                    <th>Tên User</th>
                                                    <th>Tên Bàn</th>
                                                    <th>Tổng tiền</th>
                                                    <th>Ngày tạo</th>
                                                    <th style="width: 100px;">Chi tiết HĐ</th>
                                                </tr>
                                                </thead>

                                                <tbody id="tbOrder">


                                                </tbody>
                                            </table>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--                End row-->

            </div>
            <!--    page content-->
        </div>
    </div>

    <!--    footer-->
    <th:block th:replace="layout/footer"/>
    <!--    footer-->

    <!--    footer-javaScript-->
    <th:block th:replace="layout/footer-js"/>
    <!--    footer-javaScript-->
</div>

<th:block th:replace="order/modalShowOrderDetail"/>


<script src="/assets/js/jquery-3.6.0.min.js"></script>
<script src="/assets/sweetalert2/v11.7.12/sweetalert2.all.min.js"></script>
<script src="/assets/js/jquery.validate.min.js"></script>
<script src="/assets/js/jquery.number.js"></script>
<script src="/assets/js/app.js"></script>
<script>

    const pageable = {
        page: 1,
        sortBy: "price",
        sort: "asc",
        kw: "mi tom",
        limit: 2
    }

    // url: /page=pageable.page&
    const page = {
        url: {},
        elements: {},
        loadData: {},
        commands: {},
        dialogs: {
            elements: {},
            commands: {}
        },
        initializeControlEvent: {}
    }
    let stt = 1;
    page.elements.tbOrder = $('#tbOrder');
    page.dialogs.elements.modalShowOrderDetail = $('#modalShowOrderDetail');
    page.dialogs.elements.tbOrderDetail = $('#tbOrderDetail');
    page.elements.keySearch = $('#keySearch');

    page.commands.renderDeskOrderDetail = (data) => {
        const desk = data.desk;

        const dateObj = new Date(data.startAt);
        const startAt = dateObj.toLocaleTimeString();
        const endAt = new Date(data.endAt).toLocaleTimeString();
        const minutes = parseInt((new Date(data.endAt).getTime() - new Date(data.startAt).getTime()) / (1000 * 60));

        let str = `
                <tr class="text-center" id="trd_${data.id}">
                    <td class="text-center">${stt}</td>
                    <td class="text-start">${desk.name} - ${startAt} - ${endAt}</td>
                    <td>
                        <div class="a" style="display: flex;">
                            <input class="form-control text-end" type="number" value="${minutes}" min="1"  name="timeQuantity" readonly>
                        </div>
                    </td>
                    <td>Phút</td>
                    <td>
                        <input class="form-control text-end" name="timePrice" value="${formatCurrency(desk.priceTime)}" readOnly>
                    </td>
                    <td>
                        <input class="form-control text-end" value="${formatCurrency(data.amount)}" name="timeTotalAmout" readOnly>
                    </td>
                </tr>`

        return str;
    }
    page.commands.renderProductOrderDetail = (productDetail) => {
        const product = productDetail.product;
        return `
        <tr class="text-center" id="tr_${productDetail.id}">
                            <td class="text-center">${++stt}</td>
                            <td class="text-start">${product.title}</td>
                            <td>
                                <div class="a" style="display: flex;">
                                    <input class="form-control text-end" type="number" value="${productDetail.quantity}" min="1" max="100" name="quantity" data-id="${productDetail.id}" readonly >
                                </div>
                            </td>
                            <td>${productDetail.unit}</td>
                            <td>
                                <input class="form-control text-end" name="price" value="${formatCurrency(productDetail.price)}" readonly>
                            </td>
                            <td>
                                <input class="form-control text-end" name="amount" value="${formatCurrency(productDetail.amount)}" id="amount_${productDetail.id}" data-id="${productDetail.id}" readonly>
                            </td>
                        </tr>`;
    }
    page.commands.renderOrder = (obj) => {
        return `<tr role="row">
              <td class="text-center">${obj.id}</td>
              <td class="ps-5">${obj.user.fullName}</td>
              <td class="ps-5">${obj.desk.name}</td>
              <td class="text-end pr-lg-5">${formatCurrency(obj.totalAmount)}</td>
              <td class="text-center">${obj.createdAt}</td>
              <td style="width: 100px;" class="text-center">
                <button class="btn btn-outline-warning showOrderDetail" data-id="${obj.id}">
                    <i class="fas fa-eye"></i>
                </button></td>
            </tr>`;
    }
    page.commands.getAllOrder = () => {
        page.elements.tbOrder.empty();
        $.ajax({
            type: 'GET',
            url: 'http://localhost:28002/api/orders'
        })
            .done((data) => {
                data.forEach(item => {
                    const str = page.commands.renderOrder(item);
                    page.elements.tbOrder.prepend(str);
                });
            })
            .fail((error) => {
                console.log(error);
            })
    }
    page.commands.getOrderById = (orderId) => {
        return $.ajax({
            type: 'GET',
            url: 'http://localhost:28002/api/orders/' + orderId
        })
    }
    page.commands.getProductOrderItemByOrderId = (orderId) => {
        return $.ajax({
            type: 'GET',
            url: 'http://localhost:28002/api/orders/get-product-order-item/' + orderId
        })
    }
    page.commands.getDeskOrderItemByOrderId = (orderId) => {
        return $.ajax({
            type: 'GET',
            url: 'http://localhost:28002/api/orders/get-desk-order-item/' + orderId
        })
    }
    page.commands.handleShowOrderDetail = (orderId) => {
        page.commands.getDeskOrderItemByOrderId(orderId).then((deskItem) => {
            page.dialogs.elements.tbOrderDetail.empty();
            const deskItemStr = page.commands.renderDeskOrderDetail(deskItem);
            page.dialogs.elements.tbOrderDetail.append(deskItemStr);
            page.commands.getProductOrderItemByOrderId(orderId).then((data) => {
                $.each((data), (index, item) => {
                    const productStr = page.commands.renderProductOrderDetail(item);
                    page.dialogs.elements.tbOrderDetail.append(productStr)
                })
            })
        })
        $('#orderDetail').text("Mã số hoá đơn: " + orderId);
        page.dialogs.elements.modalShowOrderDetail.modal('show');

    }
    page.commands.getAllOrderByKeySearch = (keySearch) => {
        console.log(keySearch)
        $.ajax({
            type: 'GET',
            url: 'http://localhost:28002/api/orders/search',
            data: {
                keySearch: keySearch
            }
        })
            .done((data) => {
                page.elements.tbOrder.empty();
                data.forEach(item => {

                    const str = page.commands.renderOrder(item);
                    page.elements.tbOrder.prepend(str);
                });
            })
            .fail((error) => {
                console.log()
                console.log(error);
            })
    }

    page.initializeControlEvent = () => {
        page.elements.tbOrder.on('click', '.showOrderDetail', function () {
            const orderId = $(this).data('id');
            stt = 1;
            page.commands.handleShowOrderDetail(orderId);
        })
        page.elements.keySearch.on('input', function () {
            const keySearch = $(this).val();
            page.commands.getAllOrderByKeySearch(keySearch);

        })
    }

    $(() => {
        page.initializeControlEvent()
        page.commands.getAllOrder()

    })


</script>
</body>
</html>