<th:block th:fragment="footer-js">
    <!-- Vendor js -->
    <script src="/assets/dashboard/js/vendor.min.js"></script>

    <!-- Required datatable js -->
    <script src="/assets/dashboard/libs/datatables/jquery.dataTables.min.js"></script>
    <script src="/assets/dashboard/libs/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Buttons examples -->
    <script src="/assets/dashboard/libs/datatables/dataTables.buttons.min.js"></script>
    <script src="/assets/dashboard/libs/datatables/buttons.bootstrap4.min.js"></script>
    <script src="/assets/dashboard/libs/jszip/jszip.min.js"></script>
    <script src="/assets/dashboard/libs/pdfmake/pdfmake.min.js"></script>
    <script src="/assets/dashboard/libs/pdfmake/vfs_fonts.js"></script>
    <script src="/assets/dashboard/libs/datatables/buttons.html5.min.js"></script>
    <script src="/assets/dashboard/libs/datatables/buttons.print.min.js"></script>

    <!-- Responsive examples -->
    <script src="/assets/dashboard/libs/datatables/dataTables.responsive.min.js"></script>
    <script src="/assets/dashboard/libs/datatables/responsive.bootstrap4.min.js"></script>

    <script src="/assets/dashboard/libs/datatables/dataTables.keyTable.min.js"></script>
    <script src="/assets/dashboard/libs/datatables/dataTables.select.min.js"></script>

    <!-- Datatables init -->
    <script src="/assets/dashboard/js/pages/datatables.init.js"></script>

    <!-- App js -->
    <script src="/assets/dashboard/js/app.min.js"></script>
</th:block>