<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">

    <title>Desk</title>

    <!--    Ten thu muc/ ten file html :: ten fragment-->
    <!--    head-css-->
    <th:block th:replace="layout/head :: head-1"/>
    <!--    head-css-->

</head>
<body>
<!-- Begin page -->
<div id="wrapper">
    <!--    header-->
    <th:block th:replace="layout/header"/>
    <!--    header-->

    <!--    left-side-->
    <th:block th:replace="layout/left"/>
    <!--    left-side-->


    <div class="content-page">
        <div class="content">
            <!--    page content-->
            <div class="container-fluid">
                <!-- start page title -->
                <h1 class="text-center">List desk</h1>
                <!-- end page title -->

                <!--                Start row-->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body table-responsive">
                                <div class="d-flex justify-content-between align-self-center">

                                    <div>
                                        <button class="btn btn-outline-primary m-3" id="btnShowCreateModal">
                                            <i class="fas fa-plus"></i> Add new desk
                                        </button>
                                    </div>
                                    <div class="m-3" style="height: 30px">
                                        <form  method="get">
                                            <div class="container-search mt-1 d-flex">
                                                <input type="text" name="keySearch" width="270px">
                                                <button type="button" class="btn btn-primary ml-(-65px)" id="searchbtn">
                                                    <i class="fas fa-search"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>


                                <div id="datatable-buttons_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table class="table table-striped table-hover">

                                                <thead>
                                                <tr role="row">
                                                    <th>ID</th>
                                                    <th>Name</th>
                                                    <th>Price time</th>
                                                    <th>Type</th>
                                                    <th colspan="2">Action</th>
                                                </tr>
                                                </thead>

                                                <tbody id="tbDesk">

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--                End row-->

            </div>
            <!--    page content-->
        </div>
    </div>

    <!--    footer-->
    <th:block th:replace="layout/footer"/>
    <!--    footer-->

    <!--    footer-javaScript-->
    <th:block th:replace="layout/footer-js"/>
    <!--    footer-javaScript-->
</div>

<th:block th:replace="desk/modalCreate"/>
<th:block th:replace="desk/modalUpdate"/>


<script src="/assets/js/jquery-3.6.0.min.js"></script>
<script src="/assets/js/jquery.validate.min.js"></script>
<script src="/assets/js/app.js"></script>
<script src="/assets/sweetalert2/v11.7.12/sweetalert2.all.min.js"></script>
<script src="/assets/js/jquery.number.js"></script>

<script>
    const page = {
        url: {
            getAllDesks: App.API_DESK,
             getAllTypeDesks: App.API_TYPE,
            creatDesk: App.API_DESK,
            updateDesk: App.API_DESK,
            deleteDesk: App.API_DESK,
            getDeskById: App.API_DESK,

        },
        elements: {},
        loadData: {},
        commands: {},
        dialogs: {
            elements: {},
            commands: {}
        },
        initializeControlEvent: {}
    }

    page.elements.tbDesk = $('#tbDesk');


    page.elements.btnShowCreateModal = $('#btnShowCreateModal');
    page.dialogs.elements.modalCreate = $('#modalCreate');
    page.dialogs.elements.frmCreate = $('#frmCreate');
    page.dialogs.elements.nameCre = $('#nameCre');
    page.dialogs.elements.priceTimeCre = $('#priceTimeCre');
    page.dialogs.elements.typeCre = $('#typeCre');
    page.dialogs.elements.btnCreate = $('#btnCreate');
    page.dialogs.elements.errorAreaCreate = $('#modalCreate .error-area')


    page.dialogs.elements.modalUpdate = $('#modalUpdate');
    page.dialogs.elements.frmUpdate = $('#frmUpdate');
    page.dialogs.elements.nameUp = $('#nameUp');
    page.dialogs.elements.priceTimeUp = $('#priceTimeUp');
    page.dialogs.elements.typeUp = $('#typeUp');
    page.dialogs.elements.btnUpdate = $('#btnUpdate');
    page.dialogs.elements.errorAreaUpdate = $('#modalUpdate .error-area')


    page.commands.renderDesk = (obj) => {
        return `
            <tr id="tr_${obj.id}">
                <td class="text-center">${obj.id} </td>
                <td>${obj.name} </td>
                <td class="text-center">${obj.priceTime} </td>
                <td class="text-center">${obj.type.code} </td>
                <td class="text-end">
                    <button  class="btn btn-outline-primary btn-sm edit" data-id="${obj.id}" >
                            <i class="far fa-edit"></i>
                    </button>
                </td>
                <td>
                    <button  class="btn btn-outline-danger btn-sm delete" data-id="${obj.id}">
                            <i class="fas fa-ban" ></i>
                    </button>
                </td>
            </tr>`;
    }

    let desk = null;
    let deskId = 0;

    page.commands.getAllDesks = () => {
        console.log(1)
        page.elements.tbDesk.empty();

        $.ajax({
            type: 'GET',
            url: page.url.getAllDesks
        })
            .done((data) => {
                data.forEach(item => {
                    const str = page.commands.renderDesk(item);
                    page.elements.tbDesk.prepend(str);
                });
            })
            .fail((error) => {
                console.log(error);
            })
    }

    page.commands.getAllTypeDesks = () => {
        return $.ajax({
            type: 'GET',
            url: page.url.getAllTypeDesks
        })
            .done((data) => {
                const types = data;

                $.each(types, (index, item) => {
                    const str = `<option value="${item.id}">${item.code}</option>`;
                    page.dialogs.elements.typeCre.append(str);
                });
            })
            .fail((error) => {
                console.log(error);
            });
    }


    page.commands.getDeskById = (id) => {
        return $.ajax({
            type: 'GET',
            url: page.url.getDeskById + '/' + id,
        });
    }


    page.dialogs.commands.create = () => {
        const name = page.dialogs.elements.nameCre.val();
        const priceTime = page.dialogs.elements.priceTimeCre.val();
        const typeId = page.dialogs.elements.typeCre.val();

        desk = {
            name: name,
            priceTime: priceTime,
            typeId: typeId
        }

        $.ajax({
            headers: {
                'accept': 'application/json',
                'content-type': 'application/json'
            },
            type: 'POST',
            url: page.url.creatDesk,
            data: JSON.stringify(desk)
        })
            .done((data) => {
                const str = page.commands.renderDesk(data);
                page.elements.tbDesk.prepend(str);

                page.dialogs.elements.modalCreate.modal('hide');

                App.showSuccessAlert('Tạo mới thành công');
            })
            .fail((jqXHR) => {
                const responseJSON = jqXHR.responseJSON;

                page.dialogs.elements.errorAreaCreate.empty();
                let str = '';

                $.each(responseJSON, (k, v) => {
                    str += `<label for="${k}Cre">${v}</label>`
                })

                page.dialogs.elements.errorAreaCreate.append(str).removeClass('hide').addClass('show');

                console.log(jqXHR);
            })
    }


    page.commands.handleAddEventShowModalUpdate = (deskId) => {
        page.commands.getDeskById(deskId).then((data) => {
            let desk = data;
            page.dialogs.elements.nameUp.val(desk.name);
            page.dialogs.elements.priceTimeUp.val(desk.priceTime);

            $.getJSON(page.url.getAllTypeDesks, function (data) {
                let types = data;

                page.dialogs.elements.typeUp.empty();

                types.forEach((type) => {
                    const option = $("<option></option>").val(type.id).text(`${type.code}`);

                    if (type.id === desk.type.id) {
                        option.attr("selected", "selected");
                    }

                    page.dialogs.elements.typeUp.append(option);
                });
            });

            page.dialogs.elements.modalUpdate.modal('show');

        })
            .catch((error) => {
                console.log(error);
            });
    };


    page.dialogs.commands.update = () => {
        const name = page.dialogs.elements.nameUp.val();
        const priceTime = page.dialogs.elements.priceTimeUp.val();
        const typeId = page.dialogs.elements.typeUp.val();

        desk = {
            name: name,
            priceTime: priceTime,
            typeId: typeId
        }

        $.ajax({
            headers: {
                'accept': 'application/json',
                'content-type': 'application/json'
            },
            type: 'PATCH',
            url: page.url.updateDesk + '/' + deskId,
            data: JSON.stringify(desk)
        })
            .done((data) => {
                const str = page.commands.renderDesk(data);
                const currentRow = $('#tr_' + deskId);
                currentRow.replaceWith(str);

                page.dialogs.elements.modalUpdate.modal('hide');

                Swal.fire({
                    position: 'center',
                    icon: 'success',
                    title: 'Đã cập nhật thông tin',
                    showConfirmButton: false,
                    timer: 1000
                })
            })
            .fail((jqXHR) => {
                const responseJSON = jqXHR.responseJSON;

                page.dialogs.elements.errorAreaUpdate.empty();
                let str = '';

                $.each(responseJSON, (k, v) => {
                    str += `<label for="${k}Up">${v}</label>`
                })

                page.dialogs.elements.errorAreaUpdate.append(str).removeClass('hide').addClass('show');

                console.log(jqXHR);
            })
    }


    page.commands.handleAddEventShowModalDelete = (deskId) => {
        App.showDeleteConfirmDialog().then((data) => {
            if (data.isConfirmed) {
                $.ajax({
                    headers: {
                        'accept': 'application/json',
                        'content-type': 'application/json'
                    },
                    type: 'DELETE',
                    url: page.url.getAllDesks + '/' + deskId
                })
                    .done(() => {

                        $(`#tr_${deskId}`).remove();

                        Swal.fire({
                            position: 'center',
                            icon: 'success',
                            title: 'Xóa thành công',
                            showConfirmButton: false,
                            timer: 1000
                        })
                    })
                    .fail((error) => {
                        console.log(error);
                    });
            }
        })
    }


    page.initializeControlEvent = () => {

        page.elements.btnShowCreateModal.on('click', () => {
            page.dialogs.elements.modalCreate.modal('show');
        })

        page.dialogs.elements.btnCreate.on('click', () => {
            page.dialogs.elements.frmCreate.trigger("submit");
        })

        page.dialogs.commands.closeModalCreate = () => {
            page.dialogs.elements.frmCreate[0].reset();
        }

        page.dialogs.elements.modalCreate.on("hidden.bs.modal", function () {
            page.dialogs.commands.closeModalCreate();
        });


        page.elements.tbDesk.on('click', '.edit', function () {
            deskId = $(this).data('id');
            page.commands.handleAddEventShowModalUpdate(deskId);
        })


        page.dialogs.elements.btnUpdate.on('click', () => {
            page.dialogs.elements.frmUpdate.trigger("submit");
        })


        page.elements.tbDesk.on('click', '.delete', function () {
            deskId = $(this).data('id');
            page.commands.handleAddEventShowModalDelete(deskId);
        })

    }


    page.dialogs.elements.frmCreate.validate({
        rules: {
            nameCre: {
                required: true,
                maxlength: 20,
                minlength: 5
            },
            priceTimeCre: {
                required: true,
            }
        },
        messages: {
            nameCre: {
                required: 'Tên bàn là bắt buộc',
                maxlength: 'Tên tối đa ${0} ký tự',
                minlength: 'Tên tối thiểu ${0} ký tự'
            },
            priceTimeCre: {
                required: 'Giá mỗi giờ cho bàn là bắt buộc'
            }
        },
        errorLabelContainer: "#modalCreate .error-area",
        errorPlacement: function (error, element) {
            error.appendTo("#modalCreate .error-area");
        },
        showErrors: function (errorMap, errorList) {
            if (this.numberOfInvalids() > 0) {
                page.dialogs.elements.errorAreaCreate.removeClass("hide").addClass("show");
            } else {
                page.dialogs.elements.errorAreaCreate.removeClass("show").addClass("hide").empty();
                $("#frmCreate input.error").removeClass("error");
            }
            this.defaultShowErrors();
        },
        submitHandler: function () {
            page.dialogs.commands.create();
        }
    })


    page.dialogs.elements.frmUpdate.validate({
        rules: {
            nameUp: {
                required: true,
                maxlength: 20,
                minlength: 5
            },
            priceTimeUp: {
                required: true,
            }
        },
        messages: {
            nameUp: {
                required: 'Tên bàn là bắt buộc',
                maxlength: 'Tên tối đa ${0} ký tự',
                minlength: 'Tên tối thiểu ${0} ký tự'
            },
            priceTimeUp: {
                required: 'Giá mỗi giờ cho bàn là bắt buộc'
            }
        },
        errorLabelContainer: "#modalUpdate .error-area",
        errorPlacement: function (error, element) {
            error.appendTo("#modalUpdate .error-area");
        },
        showErrors: function (errorMap, errorList) {
            if (this.numberOfInvalids() > 0) {
                page.dialogs.elements.errorAreaUpdate.removeClass("hide").addClass("show");
            } else {
                page.dialogs.elements.errorAreaUpdate.removeClass("show").addClass("hide").empty();
                $("#frmUpdate input.error").removeClass("error");
            }
            this.defaultShowErrors();
        },
        submitHandler: function () {
            page.dialogs.commands.update();
        }
    })


    page.loadData = () => {
        page.commands.getAllDesks();
        page.commands.getAllTypeDesks();
    }
    $(() => {
        page.loadData();

        page.initializeControlEvent();

    })


</script>
</body>
</html>